/* You can add global styles to this file, and also import other style files */
.container {
    position: relative;
    text-align: center;
    transform: translateY(50%);
}
.signup
{
    padding:3% 1%;
    border-radius:4px;
    width:600px;
    margin:auto;
    box-shadow: 0 5px 25px 0 rgba(41,128,185,.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,.15);
    border: 1px solid #e4e7ea;
}
.signup input
{
    margin-bottom:0px;
}
.classForErrors{
    color: red;
    margin-top: 5px;
    margin-left: 1px;
    font-size: 12px;
    float: left;
}
.btn_account
{
    background:#005771;
    padding: 10px;
    margin-bottom:10px !important;
    margin-top:10px !important;
}

.errors-own{
    margin: 0px;
    margin-top: 10px;
}

.label{
    float: left;
    font-size: 15px;
    padding-left: 15px;
    color: #000000;
}
.dropdowns{
    padding-left: 0px;
}
.warning{
    color: red;
    font-size: 12px;
    margin-top: 2%;
}